.sidebar-menu {
    list-style: none;
    width:420px;
    margin: 0;
    padding: 0;
    background-color: #222d32;
    overflow-y:scroll;
    overflow-x:hidden;
    height:100%;
    padding-bottom:60px;
    margin-right:-20px;
}

.sidebar-menu > li {
    position: relative;
    margin: 0;
    padding: 0;
}

.sidebar-menu > li > a {
    padding: 12px 5px 12px 15px;
    display: block;
    border-left: 3px solid transparent;
    color: #b8c7ce;
}

.sidebar-menu > li:hover > a,
.sidebar-menu > li.active > a {
    color: #fff;
    background: #1e282c;
    border-left-color: #3c8dbc;
    cursor:pointer;
}

.sidebar-menu a {
    color: #b8c7ce;
    text-decoration: none;
}

.sidebar-menu .treeview-menu > li > a:hover {
    color: #fff;
}
